@import "./src/styles/setup";

.header {

        background-color: rgb(176, 62, 21);
        display: grid;
        grid-template-columns: $grid-container-column;
        align-items: center;
        .header-container{
                grid-column: 2;
                .logo{
                        span{

                                font-size: 30px;
                                color: beige;
                                letter-spacing: 1px;
                        }
                        .logo-img{
                                width: 50px;
                                margin-right: 5px;
                        }
                }
        }

}