@import "./src/styles/setup";

.search-result-preview {
        cursor: pointer;
        padding: 15px;
        border-radius: 20px;
        box-shadow: 1px 3px 20px 0px #00000024;
        transition: all .3s ease-in;
        animation: fadeIn 1s ease-in;

        &:hover {
                transform: translateY(-10px);
        }

        .search-result-preview-img {
                margin-right: 8px;
                border-radius: 10px;
        }

        .search-result-preview-title {
                font-size: 16px;
                color: #312d2d;
        }
}