@import "./src/styles/setup";

.search-result-list {
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 18px;

        &.grid {
                grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
                grid-gap: 35px;
        }

}