@import "./src/styles/setup";

.search-buttons {
        margin: 20px 0;

        svg {
                font-size: 30px;
                cursor: pointer;
                fill: #312d2d;
                transition: all .3s ease-in-out;

                &:hover {
                        transform: scale(1.1);
                }
        }

        .display-btns {
                :first-child {
                        margin-right: 15px;
                }
        }
}